<section class="flex justify-end">
  <button class="btn btn-primary" routerLink="/dashboard/create">
    Criar Produto
  </button>
</section>

<div class="divider"></div>

<h1 class="text-4xl text-center">Produtos</h1>

<div class="overflow-x-auto w-full">
  <table class="table">
    <thead>
      <tr>
        <th>Título</th>
        <th>Preço</th>
        <th class="w-40"></th>
      </tr>
    </thead>
    <tbody>
      @for (product of products(); track product.id) {
      <tr class="hover">
        <td>{{ product.title }}</td>
        <td>{{ product.price | currency }}</td>
        <td class="space-x-4">
          <a
            class="btn btn-primary btn-xs"
            [routerLink]="['/dashboard/edit/', product.id]"
            >Editar</a
          >

          <button class="btn btn-error btn-xs" (click)="onDelete(product)">
            Deletar
          </button>
        </td>
      </tr>
      } @empty {
      <tr>
        <td colspan="3" class="text-center">Nenhum resultado encontrado</td>
      </tr>
      }
    </tbody>
  </table>
</div>
